h3 {
    text-align: center;
    color: #f39c12;
    font-family: 'Arial', sans-serif;
}
h4 {
    text-align: center;
    color: #f39c12;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: rgb(40, 40, 40);
    font-family: 'Verdana', sans-serif;
}
#Clasica {
    position: relative;
    top: 20px;
    margin-bottom: 200px;
    background-color: rgb(60, 60, 60);
    margin-left: 15%;
    margin-right: 15%;
    border: 3px solid #f39c12;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#ContenedorElecciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
}
#ContenedorUsuario {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
#ContenedorUsuario button {
    width: 100%;
    height: 140px;
    margin: 15px 0px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-color: #f39c12;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}
#ContenedorUsuario button:hover {
    background-color: #e67e22;
}
#ContenedorRamdomClasico {
    display: flex;
    width: 15%;
    height: 120px;
    position: relative;
    top: 90px;

    border-radius: 10px;
}
#Respuesta {
    font-size: 150%;
    color: #f39c12;
}
#Nueva {
    margin-bottom: 200px;
    background-color: rgb(60, 60, 60);
    margin-left: 15%;
    margin-right: 15%;
    border: 3px solid #f39c12;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
#ContenedorRamdomToB {
    display: flex;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}
#ContenedorUsuarioToB {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
#ContenedorUsuarioToB button {
    width: 100%;
    height: 160px;
    margin: 10px 0px;
    border: none;
    border-radius: 30px 30px 30px 30px;
    background-color: #f39c12;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}
#ContenedorUsuarioToB button:hover {
    background-color: #e67e22;
}
#ContenedorRespuestaToB {
    position: relative;
    top: 200px;
}
#Respuesta2 {
    font-size: 140%;
    color: #f39c12;
}